--
-- PostgreSQL database dump
--

\restrict bOAzTyM1Zj3wzkeZZtui97YIsHFFss8h7yqsE7Ww8QLZPUKmxE4MN9ZiOkhaq7Y

-- Dumped from database version 17.11
-- Dumped by pg_dump version 17.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: scan_findings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.scan_findings (
    id bigint NOT NULL,
    scan_target_id uuid NOT NULL,
    finding_id text NOT NULL,
    severity text NOT NULL,
    title text NOT NULL,
    description text,
    evidence jsonb,
    port integer,
    service text,
    confidence numeric
);


--
-- Name: scan_findings_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.scan_findings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: scan_findings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.scan_findings_id_seq OWNED BY public.scan_findings.id;


--
-- Name: scan_jobs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.scan_jobs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    status text NOT NULL,
    total_targets integer DEFAULT 0 NOT NULL,
    completed_targets integer DEFAULT 0 NOT NULL,
    failed_targets integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    started_at timestamp with time zone,
    completed_at timestamp with time zone,
    error text
);


--
-- Name: scan_ports; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.scan_ports (
    id bigint NOT NULL,
    scan_target_id uuid NOT NULL,
    port integer NOT NULL,
    protocol text NOT NULL,
    state text NOT NULL,
    service text,
    product text,
    version text,
    extra_info text,
    tunnel text,
    nmap_confidence integer
);


--
-- Name: scan_ports_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.scan_ports_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: scan_ports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.scan_ports_id_seq OWNED BY public.scan_ports.id;


--
-- Name: scan_targets; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.scan_targets (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    job_id uuid NOT NULL,
    host text NOT NULL,
    status text DEFAULT 'queued'::text NOT NULL,
    host_state text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    completed_at timestamp with time zone,
    error text,
    result jsonb,
    inspections jsonb,
    analysis jsonb,
    started_at timestamp with time zone
);


--
-- Name: scan_findings id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.scan_findings ALTER COLUMN id SET DEFAULT nextval('public.scan_findings_id_seq'::regclass);


--
-- Name: scan_ports id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.scan_ports ALTER COLUMN id SET DEFAULT nextval('public.scan_ports_id_seq'::regclass);


--
-- Name: scan_findings scan_findings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.scan_findings
    ADD CONSTRAINT scan_findings_pkey PRIMARY KEY (id);


--
-- Name: scan_jobs scan_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.scan_jobs
    ADD CONSTRAINT scan_jobs_pkey PRIMARY KEY (id);


--
-- Name: scan_ports scan_ports_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.scan_ports
    ADD CONSTRAINT scan_ports_pkey PRIMARY KEY (id);


--
-- Name: scan_targets scan_targets_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.scan_targets
    ADD CONSTRAINT scan_targets_pkey PRIMARY KEY (id);


--
-- Name: idx_scan_findings_severity; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_scan_findings_severity ON public.scan_findings USING btree (severity);


--
-- Name: idx_scan_findings_target; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_scan_findings_target ON public.scan_findings USING btree (scan_target_id);


--
-- Name: idx_scan_ports_target; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_scan_ports_target ON public.scan_ports USING btree (scan_target_id);


--
-- Name: idx_scan_targets_job; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_scan_targets_job ON public.scan_targets USING btree (job_id);


--
-- Name: scan_findings scan_findings_scan_target_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.scan_findings
    ADD CONSTRAINT scan_findings_scan_target_id_fkey FOREIGN KEY (scan_target_id) REFERENCES public.scan_targets(id) ON DELETE CASCADE;


--
-- Name: scan_ports scan_ports_scan_target_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.scan_ports
    ADD CONSTRAINT scan_ports_scan_target_id_fkey FOREIGN KEY (scan_target_id) REFERENCES public.scan_targets(id) ON DELETE CASCADE;


--
-- Name: scan_targets scan_targets_scan_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.scan_targets
    ADD CONSTRAINT scan_targets_scan_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.scan_jobs(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict bOAzTyM1Zj3wzkeZZtui97YIsHFFss8h7yqsE7Ww8QLZPUKmxE4MN9ZiOkhaq7Y

